Source: seminarix-samples
Section: doc
Priority: extra
Maintainer: Dinko Sabo <cobra@sidux.com>
Uploaders: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: debhelper (>= 7), imagemagick
Standards-Version: 3.8.0
Vcs-Svn: svn://svn.berlios.de/fullstory/seminarix-samples/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/seminarix-samples/trunk/

Package: seminarix-samples
Architecture: all
Suggests: sidux-edu | seminarix-handbook
Description: samples files for sidux-edu and seminarix-handbook
 sidux-edu and seminarix-handbook can use these samples to describe common 
 functionality of the advertised packages.
