#!/usr/bin/make -f
  
include /usr/share/cdbs/1/rules/debhelper.mk

install/seminarix-samples::
	mkdir -p debian/seminarix-samples/usr/share/pixmaps
	convert icons/hi32-siduxvid.png \
		debian/seminarix-samples/usr/share/pixmaps/siduxvid.xpm
	convert icons/hi16-siduxvid.png \
		debian/seminarix-samples/usr/share/pixmaps/siduxvid-16.xpm


