[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kaffeine /usr/share/seminarix-samples/video/sidux-png-video.ogg
Icon=siduxvid

Name=sidux PNG Video
Name[de]=sidux PNG Video

Categories=Documentation; 
