[Desktop Entry]
Type=Application
Exec=kaffeine /usr/share/seminarix-samples/video/sidux-png-video.ogg
Icon=siduxvid

Name=Multimedia-Demo
Name[de]=Multimedia-Demo
Name[en]=Multimedia-Demo

Categories=Documentation; 
